html, body {
    /* this is essential for the hero image to be stretched on the whole HTML Page based on the image size irrespective of the absence/presence of the HTML content */
    height: 100%;
    margin: 0;
    padding: 0;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("meet.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar-brand, .navbar-nav {
    letter-spacing: 0.2rem;
}