*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}
/* use this if dont wanna inherit the background color from *{} */
/* body{
    background-color: lightgray;
} */

/* header related CSS */
header{
    background-color: rgb(255, 255, 0);
    padding: 20px 10px;
    text-align: center;
    display: flex;
}
header h3{
    padding: 0 20px;
    /* inheriting background color from the header parent as it is above h3 like a h3 paper above header paper */
    background-color: inherit; 
}
header nav{
    display: flex;
    background-color: inherit;
}
header nav div{
    background-color: inherit;
    padding: 0 10px;
    font-size: small;
    display: flex;
    align-items: center;
}
nav div a:hover{
    color: gray;
}
header nav div a{
    background-color: inherit;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

/* main related CSS */
.side-content{
    border-right: 1px solid black;
}
.side-content h3{
    margin: 0 20px;
}
.side-content ul {
    padding: 0 20px;
    margin: 0;
    font-size: smaller;
}
.side-content ul li{
  list-style: none;
  text-align: left; 
  /* border-bottom: 1px solid black;  */
  /* width: 100%; */
  /* padding: auto; */
  margin: 10px 0;
}
.side-content ul li:hover{
    color: rgb(161, 161, 12);
}
.container{
    /* border: 1px solid black; */
    padding: 20px 10px;
    display: grid;
    /* using fractions for 3:1 distribution of the children under .container */
    grid-template-columns: 1fr 3fr;
    /* grid-template-columns: 300px 100px; */
    column-gap: 20px;
}

.container div{
    /* border: 1px solid red; */
    /* helpful when using padding */
    width: auto; 
    padding: 10px;
    font-size: smaller;
    height: 65vh;
    
    /* dont use margin like this to separate divs as it can flow out of page */
    /* margin: 100px; */
}
.main-container div{
    /* padding: 0 10px ; */
    /* border: 1px solid green; */
    background-color: rgb(233, 232, 232);
    overflow-y: scroll;
    width: auto;
    height: 80%;
}
.main-container h3{
    padding-bottom: 5px;
}
.main-container div p{
    background-color: inherit;
    padding: 5px 0;
 }

 /* Footer */

 footer{
     /* give it 100% as different browsers can behave differently so tell it initally only to get 100% */
     width: 100%; 
     background-color: yellow;
    }
.upper-footer{
    padding: 5px;
    background-color: rgb(255, 187, 0);
    height: 100%;
    font-size: small;
}
footer div p{
    height: 20px;
    padding: 0 20px;
    letter-spacing: 1px;
}
#contact{
    background-color: inherit;
    float: left;
    /* background-color: aquamarine; */
}
#newsletter{
    background-color: inherit;
    float: left;
    /* background-color: blueviolet; */
}
#coffee{
    background-color: inherit;
    float: right;
    /* background-color: coral; */
}
#footer-title{
    background-color: rgb(255, 187, 0);
}
#footer-title h5{
    background-color: yellow;
    padding: 10px 5px;
    /* clear: left; */
    clear: both;
    text-align: center;
}

/* newsletter page */

.newsletter{
    margin: 10px auto;
}
.newsletter h4{
    text-align: center;
    letter-spacing: 1px;
}
.newsletter form{
    margin: 10px auto;
    width: 30%;
}
.newsletter form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    font-size: smaller;
}
input{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 3px;
    font-size: smaller;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input:hover{
    box-shadow:0 0 4px rgb(255, 187, 0);
    background-color: #ffff60;
    border: 1px solid rgb(255, 187, 0);
}
input:focus, select:focus{
    border: 1px solid rgb(255, 187, 0);
    background-color: #ffff60;
    outline: none;
}
.submit{
    padding: 5px 0;
    width: 50%;
    margin: 5px auto;
}
.submit:hover{
    box-shadow:0 0 4px rgb(255, 187, 0);
    background-color: #ffff60;
    border: 1px solid rgb(255, 187, 0);
}
.newsletter-footer{
    position: fixed;
    bottom: 0;
}